{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Signup | Mcart</title>
</head>
<body>
    <nav>
        <div class="navbar">
        <a href="{% url 'home' %}"><img src="{% static 'images/Mcart.png' %}" alt="MCart"></a> 
         <div class="nav-links">
             <ul class="links">
                 <li><a href="{% url 'home' %}"><i class="fa-solid fa-house"></i> Home</a></li>
                 <li><a href="{% url 'contactus' %}" ><i class="fa-brands fa-servicestack"></i> About Us</a></li> 
             </ul>
         </div>
         <div class="login-menu">
            <a href="{% url 'login' %}">Login</a>
        </div>
    </nav>        
    <form method="post">
        {% csrf_token %}
        {{register_forms.as_p}}
        <input type="checkbox" onclick="togglepassword()"> show password
        <input type="submit" value="submit">
    </form>
    <script src="https://kit.fontawesome.com/71719b7a0c.js" crossorigin="anonymous"></script>
    <script>
        function togglepassword(){
            var passwordfield1 = document.querySelector("input[name='password1']")
            var passwordfield2 = document.querySelector("input[name='password2']")

            if (passwordfield1.type, passwordfield2.type === "password"){
                passwordfield1.type = "text"
                passwordfield2.type = "text"
            }
            else{
                passwordfield1.type = "password"
                passwordfield2.type = "password"
            }
        }
    </script>
</body>
</html>