{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/delete.css' %}">
    <title>Delete | Mcart</title>
</head>
<body>
    <nav>
        <div class="navbar">
            <a href="{% url 'home' %}"><img src="{% static 'images/Mcart.png' %}" alt="MCart"></a> 
         <div class="nav-links">
             <ul class="links">
                 <li><a href="{% url 'home' %}"><i class="fa-solid fa-house"></i> Home</a></li>
                 <li><a href="#"><i class="fa-solid fa-mobile"></i> Products</a>
                    <ul class="htmlCss-sub-menu sub-menu">
                        {% for categories in categories %}
                       <li><a href="{% url 'product' categories.id %}">{{ categories.name }}</a></li>
                       {%endfor %}</ul></li>
                 <li><a href="{% url 'contactus' %}" ><i class="fa-brands fa-servicestack"></i> About Us</a></li>
                 <li><a><i class="fa-solid fa-bars"></i> More</a>
                     <ul class="htmlCss-sub-menu sub-menu">
                        <li><a href="{% url 'userdashboard' %}">View profile</a></li>
                       <li><a href="{% url 'sellproducts' %}">sell products</a></li>
                       <li><a href="{% url 'logout' %}">Logout</a></li>
                     </ul>
                 </li>
             </ul>
            </div>
            <div class="user-welcome">
                {% if user.is_authenticated %}
                    <div class="login">
                       <p>Welcome.</p>
                       <h3>{{user.username}} !</h3> 
                    </div>     
                    {% else %} 
                    <div class="login-menu">
                        <a href="{% url 'login' %}">Login</a>
                    </div> 
                {% endif %}
    
                <div class="add-to-cart-button">
                    <a href="{% url 'cartpage' %}"> <i class="fa-brands fa-opencart"></i> </a>
                 </div>
            </div>
        </div>
    </nav>

    <div class="view-profile">

                <p>Username: {{ request.user.username }}!</p>
                <p><strong>Profile Picture:</strong><img src="{{ userprofiledisplay.profile.url }}" alt="Profile Picture" width="150"></p>
                <p><strong>Date of Birth:</strong> {{ userprofiledisplay.dob }}</p>
                <p><strong>Address:</strong> {{ userprofiledisplay.address }}</p>
                <p><strong>City:</strong> {{ userprofiledisplay.city }}</p>
                <p><strong>Pincode:</strong> {{ userprofiledisplay.pincode }}</p>
                <p><strong>Mobile No:</strong> {{ userprofiledisplay.mobile_no }}</p>
                <br>
                
               <p style="color:purple;"><strong>Do You Want to Delete Your Profile ?</strong></p> 
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit">Delete profile</button>
                </form>
                <a href="{% url 'userdashboard' %}">cancel</a>
    </div>
    
    <footer>
        <div class="footer-container">
            <div class="social-media">
                <p>Get connected with us on social networks:</p>
                <div class="social-icons">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-google"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-linkedin-in"></i>
                    <i class="fab fa-github"></i>
                </div>
            </div>
            <div class="footer-content">
                <div class="footer-section">
                    <h3>MCart</h3>
                    <p>Mcart is an e-commerce platform specializing in electronics. Customers can browse and purchase from trusted sellers, supporting small businesses with competitive prices.</p>
                </div>
                <div class="footer-section">
                    <h3>PRODUCTS</h3>
                    <ul>
                        {% for categories in categories %}
                    <li><a href="{% url 'product' categories.id %}">{{ categories.name }}</a></li>
                    {%endfor %}
                    </ul>
                </div>
                <div class="footer-section">
                    <h3>USEFUL LINKS</h3>
                    <ul>
                        <li>Your Account</li>
                        <li>Become an Affiliate</li>
                        <li>Shipping Rates</li>
                        <li>Help</li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h3>CONTACT</h3>
                    <ul>
                        <li><i class="fas fa-map-marker-alt"></i> Kovilpatti, Tamilnadu</li>
                        <li><i class="fas fa-envelope"></i> mcart@gmail.com</li>
                        <li><i class="fas fa-phone"></i> +91 6369483595</li>
                        <li><i class="fas fa-print"></i> +02365989</li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                <p>© 2025 Copyright Mcart</p>
            </div>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/71719b7a0c.js" crossorigin="anonymous"></script>
</body>
</html>